@import "tailwindcss";

:root {
  interpolate-size: allow-keywords;
}

body {
  font-family: "Lato", Arial, Helvetica, sans-serif;
}


@keyframes lineFlow {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 0% 100%;
  }
}

/* Carousel Animation */
@keyframes slide {
  to {
    transform: translateX(0);
  }

  from {
    transform: translateX(-50%);
  }
}

.paragraph {
  @apply text-gray-400 md:text-sm lg:text-lg text-center;
}

.highlight {
  @apply font-extrabold text-gray-400;
}

.animate-slide {
  display: flex;
  width: max-content;
  animation: slide 40s linear infinite;
}

.animate-slide img {
  object-fit: contain;
  height: 100%;
}

.animation-lineFlow {
  background: linear-gradient(to bottom, #144596, #910808, #1c831c);
  background-size: 100% 200%;
  animation: lineFlow 3s alternate infinite;

}